<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>自助開通</title>
    <%- include("./partials/style") %>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <div class="container">
      <p>遊戲名稱 : <%= nickname %></p>
      <p>遊戲UID : <span class="userID"><%= userID %></span></p>
      <ul class="nav">
        <li class="btn btn-info nav-link">
          <a href="/utility/b/<%= userID %>" class="nav-link">開啟B欄</a>
        </li>

        <li class="btn btn-info nav-link">
          <a href="/utility/itemSlots/<%= userID %>" class="nav-link"
            >一鍵擴包</a
          >
        </li>
        <li class="btn btn-info nav-link">
          <a href="/Utility/spirit/<%= userID %>" class="nav-link"
            >刷新疲勞(登出後使用)</a
          >
        </li>
        <li class="btn btn-info nav-link">
          <a href="/Utility/addSkin" class="nav-link">增加時裝</a>
        </li>
        <li class="btn btn-info nav-link">
          <a href="/Utility/money/<%= userID %>" class="nav-link">修改金錢</a>
        </li>
        <li class="btn btn-info nav-link">
          <a href="/Utility/skill/<%= userID %>" class="nav-link"
            >當前技能滿等</a
          >
        </li>
        <li class="btn btn-info nav-link">
          <a href="/Utility/addProduct" class="nav-link">增加商城物品</a>
        </li>
        <li class="btn btn-info nav-link">
          <a href="/Utility/job" class="nav-link">更改職業</a>
        </li>
        <li class="btn btn-info nav-link">
          <a href="/Utility/title/<%= userID %>" class="nav-link">稱號全開</a>
        </li>
        <li class="btn btn-info nav-link">
          <a href="/Utility/refine" class="nav-link">強化裝備</a>
        </li>
        <li class="btn btn-info nav-link">
          <a href="/Utility/delete/<%= userID %>" class="nav-link"
            >刪除角色(立即刪除，不會提示，請注意！)</a
          >
        </li>
        <li class="btn btn-info nav-link">
          <a href="/Utility/level/<%= userID %>" class="nav-link">一鍵滿等</a>
        </li>
        <li class="btn btn-info nav-link">
          <a href="/Utility/test/<%= userID %>" class="nav-link">測試(勿點)</a>
        </li>
      </ul>
    </div>
    <!-- <script>
      function deleteCheck() {
        let check = confirm("確定刪除此角色嗎?");
        if (check) {
          let userID = document.querySelector(".userID").innerText;
          fetch(`/Utility/delete/${userID}`, {
            method: "GET",
          });
        }
      }
    </script> -->
  </body>
  s
</html>
